<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="culture.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">

    <title>Login</title>
  </head>
  <body>
      <div class="container-fluid">
          <div id="section1-culture">
              <div class="container-culture1">
                  <div class="subtitle-culture">
                      <div class="line"></div>
                      <div class="subtitle1">Explore the culture</div>
                  </div>
                  <div class="title-culture">
                    <div class="h1">Discover</div>
                    <div class="h1">Culture In Bandung</div>
                  </div>
                  <div class="scroll-culture">
                    <div class="bodytext">Scroll down</div>
                    <img src="icon-arrow-down.svg" class="img-icon-arrow-down">
                  </div>
              </div>
            </div>
            <div id="section2-culture">
                <div class="container-culture2">
                    <div class="description-culture-1">
                        <div class="bodytext">Bandung</div>
                        <div class="subtitle1 title-culture2">Tari Jaipong</div>
                        <div class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At et nascetur non fermentum est consequat mi quam. Donec purus est sed a adipiscing proin viverra pulvinar dictumst. In dolor malesuada ultricies diam sed. Id nulla etiam nascetur sodales consectetur at rhoncus leo. In ut tortor vitae lacus suspendisse pulvinar.</div>
                    </div>
                    <img src="jaipong.png" class="img-icon-arrow-down">
                </div>
                <div class="container-culture2">
                    <img src="silat.png" class="img-icon-arrow-down">
                    <div class="description-culture-2">
                        <div class="bodytext">Bandung</div>
                        <div class="subtitle1 title-culture2">Pencak Silat</div>
                        <div class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At et nascetur non fermentum est consequat mi quam. Donec purus est sed a adipiscing proin viverra pulvinar dictumst. In dolor malesuada ultricies diam sed. Id nulla etiam nascetur sodales consectetur at rhoncus leo. In ut tortor vitae lacus suspendisse pulvinar.</div>
                    </div>
                </div>
            </div>
            <div id="section3-culture">
                <div class="background-culture-3">
                    <div class="description-culture-3">
                        <div class="subtitle-culture-3">
                            <div class="line"></div>
                            <div class="subtitle2 indonesia-culture-3">Indonesia</div>
                            <div class="line"></div>
                        </div>
                        <div class="title-culture-3">
                            <div class="h3">Explore more culture in indonesia</div>
                        </div>
                        <div class="body-culture-3">
                            <div class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id viverra sapien arcu id sed pretium. Rhoncus, arcu cras ac ut curabitur dui tristique.</div>
                        </div>
                        <div class="explore">
                            <a class="explore-more" href="#"><button class="btn btn-explore"><div class="bodytext">Explore More</div></button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="back">
                <a class="back-destination" href="#"><button class="btn btn-back"><div class="bodytext">Back to Destination</div></button></a>
            </div>
          </div>
      </div>
  </body>
</html>